*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
/* display -> grid*/
body{
    display: grid;
}
/* number of rows */
body{
    grid-template-rows: auto minmax(100%, 100dvh) auto;
}
/* NavBar */
.navbar {
    & img[ alt='logo' ] {
        width: 9rem;
    }
}
